/* GLOBALE PAGINA */
*{
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;

    font-family:sans-serif;
}
:root {
    --blue: #000A65;
    --blue_off: #31376B;
}
body{
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(111, 123, 128);

    pointer-events: none;
}

h4{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
}
input{
    -webkit-appearance: none;
}

/*Zona lavoro */
#app{
    width: 1406px;
    height: 645px;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    border-radius: 5px;
    box-shadow: -4px 4px 15px 10px rgba(0, 0, 0, 0.25);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */

}
#sidebar{
    position: static;
    width: 85px;
    height: 645px;
    left: 0px;
    top: 0px;

    background: var(--blue_off);
    border: 1px solid #DDDDDD;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px 0px 0px 5px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
#main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    position: static;
    width: 1321px;
    height: 645px;

    background: #EDEDED;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 5px 5px 0px;
}
/* MAIN - Area scelta */
#comm{ /*Area di scelta commessa e/o attivita generica */
    position: static;
    width: 313px;
    height: 580px;
    left: 38px;
    top: 28px;

    display: grid;
    grid-template-rows: 50px 2fr 1fr;
    

    background: #F4F4F4;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
#title_actual_type{

    background: var(--blue);

    border-radius: 5px 5px 0px 0px;

    width: 100%;
    height: 50px;

    position: relative;
    top: 0px;

    /* identical to box height, or 36px */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}
.next{ /*Freccia direzione avanti */
    transform-origin: center;
    transform: rotate(180deg);
}
#comm_list{ /*Lista selezione commesse e/o attivita generiche */
    justify-self: center;
    align-self: center;

    width: 265px;
    height: 320px;
    
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.comm_element{ /*Classe per ogni elemento */

    width: 240px;
    height: 40px;

    background: var(--blue);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px; 

    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotate(0deg);

    color: #FFFFFF;

    animation: idle 600ms 1s ease-in-out forwards;
}
@keyframes idle {
    0%{
        position: absolute;
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(-1deg);
    }
    40%{
        transform: rotate(8deg);
    }
    70%{
        transform: rotate(-8deg);
    }
    99%{
        transform: rotate(0deg);
    }
    100%{
        position:initial;
    }

}
.comm_element:active{
    position: absolute;

    box-shadow: -3px 3px 10px 5px rgba(0, 0, 0, 0.25);
    
    transform: translate(-0px ,-3px);

}
#comm_new{
    align-self: center;
    justify-self: center;

    width: 265px;
    height: 130px;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.comm_new_text{
    width: 245px;
    height: 50px;   
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.75);

    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--blue);

    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
#comm_new_add{/*Pulsante creazione nuova voce commessa*/
    width: 245px;
    height: 50px;

    background: var(--blue);
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    

    border: 0;
    border-radius: 0.25rem;

    color: white;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    
    cursor: pointer;

    --click_offset : 2px;
    --margin-top: 10px;

    margin-top: var(--margin-top);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    

    transition: 300ms ease-out;
}
#comm_new_add:enabled{
    box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.5);
}
#comm_new_add:disabled{
    background: var(--blue_off);
    margin-top: var(--margin-top);
    cursor: not-allowed;
}
#comm_new_add:active{
    animation: clikked 100ms ease-in-out forwards ;
}
@keyframes clikked {
    0%{
        box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.5);
        margin-top: var(--margin-top);
        transform: perspective(0px),
    };
    50%{
        transform: perspective(20px);
    }
    100%{
        box-shadow: -2px 0px 9px rgba(0, 0, 0, 0.4);
        margin-top: calc(var(--margin-top) - var(--click_offset));
        transform: perspective(20px);
    }
}

/* DAY */
#day{
    width: 900px;
    height: 580px;

    background: #F4F4F4;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 
        0px 0px 5px rgba(0, 0, 0, 0.25);

    display: grid;
    grid-template-rows: 50px;
}
#title_actual_date{
    background: var(--blue);

    border-radius: 5px 5px 0px 0px;

    width: 100%;
    height: 50px;

    position: relative;
    top: 0px;

    /* identical to box height, or 36px */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}
#arrow_date_prev{
    margin-left: 20px;
}
#actual_date{
    margin: 0px 20px 0px 20px;
}
.day_grid{
    justify-self: center;
    align-self: center;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
}
.timeline{
    --timeline_width : 837px;
    width: var(--timeline_width);
    height: 60px;

    background: #F0F0F0;
    border-radius: 10px 10px 0px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    letter-spacing: 3px;
}
.timeline_hour{

    width: calc(var(--timeline_width) / 8);
    height: 100%;

    color: #C5C5C5; 

    display: flex;
    align-items: center;
    justify-content: center;
}
.timeline_grid{

    height: 156px;

    background-color: white;
    border-top: 1px solid #D1D1D1;
    border-radius: 0px 0px 10px 10px;

}

/* COMUNI */
.arrow_icon{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.arrow_icon:hover{
    background-color: #ffffff2c;
}
.arrow_icon:active{
    background-color: #ffffff2c;
}
.arrow_icon:active > img{
    transform: translate(-2px);
}
/**/
.draggable{
    -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Old versions of Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
    user-select: all; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    pointer-events: all;
    
}
.not_draggable{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}
.clickable{
    pointer-events: all;
}